
 	body {
		background-image: url('https://skyblockmayor.netlify.app/HypixelSkyblock.png');
		background-opacity: 0.3;
		background-repeat: no-repeat;
		background-position: middle;
  		background-attachment: scroll;
		font-family: 'Minecraftia';
	}

.collapsible {
  background-color: #FF55FF;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #FF85FF;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 3px solid #0000AA;
}
