
 	body {
		background-image: url('https://skyblockmayor.netlify.app/HypixelSkyblock.png');
		opacity: 0.6;
		background-repeat: no-repeat;
    		font-family: 'Lobster';font-size: 22px;
            }
