
 	body {
		background-image: url('https://skyblockmayor.netlify.app/HypixelSkyblock.png');
		background-opacity: 0.3;
		background-repeat: no-repeat;
    		font-family: 'Lobster';font-size: 22px;
		background-attachment: fixed;
		font-family: 'Minecraftia';font-size: 22px;
	}
